* {
    padding: 0;
    margin: 0;
    font-family: "AS";
}

html {
    height: 100%;
}

body {
    position: relative;
    height: 100%;
    margin: 0 20px 0 20px;
    display: grid;
    grid-template-columns: 120px 1fr 40px;
    grid-template-rows: 40px 1fr 20px;
    grid-template-areas: 
        "   header  .       .       "
        "   main    main    aside   "
        "   footer  footer  footer  ";
}

/* --------------------------------------- HEADER ------------------------------------------ */
header {
    grid-area: header;
    background-color: black;
}

header>a {
    display: inline-block;
    margin: 2px 22px 2px 22px;
    color: white;
    font-size: 30px;
    text-decoration: none;
}

header>a:hover {
    text-decoration: underline;
}

/* ---------------------------------------- MAIN ------------------------------------------- */
main {
    grid-area: main;
    border: 2px solid black;
}

/* ---------------------------------------- ASIDE ------------------------------------------- */
aside {
    grid-area: aside;
}

aside>ul>li {
    list-style: none;
    transform: rotate(90deg);
}

/* --------------------------------------- FOOTER ------------------------------------------ */
footer {
    grid-area: footer;
    text-align: center;
}